body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

a, p{
    color: #4b5156;
}
.container {
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);

}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #eea390 0%, #eb796f 43%, #eb796f 100%);
}

.header-bar a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}